/*@media screen and (max-width: 8000px) {*/

/*}*/

.hidden { display:none; }

.Col {
    flexGrow: 0;
    flexShrink: 0;
    flexBasis: auto;
}
.Dictaphone {
    position:absolute;
    z-index: 9200;
    margin: 0 auto;
    top: 55px;
    left: 85%;
}

.music-container{
    margin-left: 85%;
    margin-top: 0px;
    width: 10%;
    position: absolute;
    z-index: 10501;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.jook-container{
    margin-left: 75%;
    margin-top: 0%;
    width: 10%;
    position: absolute;
    z-index: 999999;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.TextSpeakCss {
    position:absolute;
    z-index: 999999;
    margin: 0 auto;

    left: 1%;
}
.Dictaphone10 {
    position:absolute;
    z-index: 9200;
    margin: 0 auto;
    top: 175px;
    left: 1%;
}
.Page {
    /*margin-top:100px;*/
    color:white;
    background: #252839;
    /*margin: 5%;*/
}
.socketAdd {
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 0;
    left: 25%;
}
.DropDownMenuRuling {
    z-index: 10200;
    /*margin: 0 auto;*/
    position: absolute;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    left: 10%;
}

.DropDownMenuModel {
    z-index: 102;
    /*margin: 0 auto;*/
    position: absolute;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 4px;
    left: 75%;
}


.RulingInfo {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 65px;
    left: 45.4%;
}

.btnTransparent {
    background-color: transparent;
    border-color: #ccc;
    height:100px;
    width:100px;
    cursor:pointer;
    text-shadow: 1px 1px 1px #f1f1f1;
    user-select: none
}

/*.btnTransparent:hover {*/
/*    background-color: blue;*/
/*    color:white;*/
/*}*/
.RulingBottomUp {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 20%;
    left: 4%;
}
.RulingBottomDown {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 60%;
    left: 4%;
}
.RulingBottomLeft {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 40%;
    left: 65%;
}
.RulingBottomRight {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 40%;
    left: 83%;
}
.RulingBottomLeft- {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 75%;
    left: 65%;
}
.RulingBottomRight- {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 75%;
    left: 83%;
}
.RulingBottomRev {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 10%;
    left: 65%;
}
.RulingBottomStop {
    text-shadow: 1px 1px 1px #f1f1f1;
    z-index: 102;
    /*margin: 0 auto;*/
    position: fixed;
    /*top: 1%; left: 34%; bottom: 0; right: 0;*/
    top: 10%;
    left: 83%;
}

.RSControl {
    margin: auto;
    position: fixed;
    top: 50%; left: 15%; bottom: 0; right: 0;
}

/*@media (max-width: 400px) {*/
/*  .App {*/
/*    text-align: center;*/
/*  }*/

/*  video {*/
/*    width: 100%;*/
/*  }*/
/*  .Panel {*/
/*    width: 90%;*/
/*  }*/
/*  .Joy {*/
/*    !*margin: auto;*!*/
/*    !*position: fixed;*!*/
/*    !*top: 45%; left: 0; bottom: 0; right: 0;*!*/
/*  }*/
/*}*/
/*@media (min-width: 400px) and (max-width: 800px){*/
/*  .App {*/
/*    text-align: center;*/
/*  }*/
/*  video {*/
/*    !*position: fixed;*!*/
/*    width: 100%;*/
/*  }*/
/*  .Panel {*/
/*    width: 90%;*/
/*  }*/
/*  .Joy {*/
/*    !*margin: auto;*!*/
/*    !*position: fixed;*!*/
/*    !*top: 25%; left: 64%; bottom: 0; right: 0;*!*/
/*  }*/
/*}*/

/*@media (min-width: 800px) and (max-width: 1200px) {*/
/*  .App {*/
/*    text-align: center;*/
/*  }*/
/*  video {*/
/*    width: 70%;*/
/*  }*/
/*  .Panel {*/
/*    width: 60%;*/
/*  }*/
/*  .Joy {*/
/*    !*margin: auto;*!*/
/*    !*position: fixed;*!*/
/*    !*top: 65%; left: 0; bottom: 0; right: 0;*!*/
/*  }*/
/*}*/

/*@media (min-width: 1200px) and (max-width: 1920px) {*/
/*  .App {*/
/*    text-align: center;*/
/*  }*/
/*  video {*/
/*    width: 50%;*/
/*  }*/
/*  .Panel {*/
/*    width: 50%;*/
/*  }*/
/*  .Joy {*/
/*    !*margin: auto;*!*/
/*    !*position: fixed;*!*/
/*    !*top: 80%; left: 0; bottom: 0; right: 0;*!*/
/*  }*/
/*}*/
/*@media (min-width: 1920px) and (max-width: 7680px){*/
/*  .App {*/
/*    text-align: center;*/
/*  }*/
/*  video {*/
/*    width: 50%;*/
/*  }*/
/*  .Panel {*/
/*    width: 50%;*/
/*  }*/
/*  .Joy {*/
/*    !*margin: auto;*!*/
/*    !*position: fixed;*!*/
/*    !*top: 80%; left: 0; bottom: 0; right: 0;*!*/
/*  }*/
/*}*/


/*input[type=range]  {*/
/*    !*position: fixed;*!*/
/*    !*z-index: 102;*!*/
/*    !*padding-top: 20%;*!*/
/*    width: 95%;*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*}*/
/*input[type=range]::-webkit-slider-runnable-track {*/
/*    border-radius: 10px/100%;*/
/*    height: 11px;*/
/*    border: 1px solid cyan;*/
/*    background-color: #fff;*/
/*}*/
/*input[type=range]::-webkit-slider-thumb {*/
/*    background: #4485b1;*/
/*    border: 1px solid cyan;*/
/*    border-radius: 10px/100%;*/
/*    cursor: pointer;*/
/*    width:35px;*/
/*    height: 45px;*/
/*    -webkit-appearance: none;*/
/*    margin-top: -17px;*/
/*}*/

/*input[type=range]::-moz-range-track {*/
/*    border-radius: 10px/100%;*/
/*    height: 5px;*/
/*    border: 1px solid cyan;*/
/*    background-color: #fff;*/
/*}*/
/*input[type=range]::-moz-range-thumb {*/
/*    background: #ecf0f1;*/
/*    border: 1px solid cyan;*/
/*    border-radius: 10px/100%;*/
/*    cursor: pointer;*/
/*}*/
