body,html{
  padding: 0;
  margin: 0;
}
/*.App {*/
/*  padding: 1rem 0 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: rgba(224, 224, 224, 0.46);*/
/*}*/

.Center {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.modal-mongo-music {
  z-index: 1000000;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */

}

.modal-jook {
  z-index: 999999999;
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  height: 80%;
  width: 60%; /* Could be more or less, depending on screen size */
  opacity: .3;
}

